body {
    background-image: url(./1.jpg);
    background-size: cover;
} 
div.container {
    
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.box {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.35);
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.37);
    /* animation: morph 2s infinite ; */

}
div.spinner {
    margin-top: 10px;
    margin-left: 25px;
    display: inline-block;
    width: 50px;
    height: 50px;
    animation: morph 2s infinite ;
}

@keyframes morph {
    0%,100% {
        border-radius: 40%;
        transform: rotate(0deg);
        background-color: black;
    }
    50% {
        border-radius: 0%;
        transform: rotate(180deg);
        background-color: black;
    }
}
